.find-icons__icon span{
    margin-top: 15px;
}
.recommended-freinds{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 25px 0px;
    margin: 25px 0px;
}

.recommended-freinds__title{
    font-size: 14px;
    color: rgba(0,0,0,0.3);
    font-weight: 600;
}

.recommended-freinds span{
    margin: 110px 0px;
    display: block;
    text-align: center;
    color: rgba(0,0,0,0.3);
    font-weight: 600;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-weight: 600;
    margin-bottom: 15px;

}
.open-chat__header span{
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.open-post__title {
    font-weight: 600;
    margin-bottom: 8px;
}

.open-post__hashtags {
    text-transform: uppercase; 
    opacity: 0.6;
    font-size: 14px;
}
.open-post__members {
    margin-top: 7px;
    display:flex;
    align-items: center;
    
}

.open-chat {
    margin-bottom: 73px;
}

.open-post__members img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.6;
    font-size: 14px;
}

.open-post__members .divider {
    width: 1px;
    height: 12px;
    background-color: rgba(0,0,0,0.3);
    margin: 0px 5px;
}
.open-post__member-status {
    font-size: 14px;
    color: rgb(216, 29, 107)
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.open-post__photo{
    position: relative;
}
.open-post__heart-count {
    background-color: rgba(0,0,0,0.7);
    color:white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.open-post__heart-count span{
    margin-left: 3px;
}

@keyframes heartBeat {
    0%{
        transform: scale(1);
        
    }
    25%{
        transform: rotateZ(15deg) scale(1.5);
    }
    50%{
        transform:scale(1) rotateZ(0deg);
    }
    75%{
        transform: scale(1.5) rotateZ(-15deg);
    }
    100%{
        transform: scale(1) rotateZ(0deg) ;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}