.freinds-display-link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    padding: 18px 0px;
    font-size: 16px;
    margin-top: -10px;
}

.freinds-display-link i{
    color: rgba(0,0,0,0.3);
}

.freinds-screen {
    padding: 0px var(--horizontal-space);
    padding-top: 10px;
}

.freinds-screen__channel-header {
    color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-top: var(--main-border);
}
.freinds-screen__channel {
    margin-top: 20px;
}

@keyframes hideSplashScrren {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    animation: hideSplashScrren 0.5s ease-in-out forwards;
    animation-delay: 0 ;
}

@keyframes appeearBtnAnimation {
    from{
        
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    transform: translateY(55px);
    animation: appeearBtnAnimation 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2){
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3){
    animation-delay: 0.3s;
}
.nav__btn:nth-child(4){
    animation-delay: 0.4s;
}