.freinds-display-link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    padding: 18px 0px;
    font-size: 16px;
    margin-top: -10px;
}

.freinds-display-link i{
    color: rgba(0,0,0,0.3);
}

.freinds-screen {
    padding: 0px var(--horizontal-space);
    padding-top: 10px;
}

.freinds-screen__channel-header {
    color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.freinds-screen__channel {
    margin-top: 20px;
}
