.screen-header {
    display: flex;
    justify-content: space-between;
    padding-top: 45px ;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    align-items: center;
    margin-bottom: 10px;
}
.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons{
    position: relative;
}

.screen-header__update {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    position: absolute;
}

@keyframes rotateCog {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screen-header__icons .fa-gear:hover {
    animation:rotateCog 3s ease-in-out ;
}